{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionLine" . }}

{{ template "chart.sourceLinkLine" . }}

## Changelog

0.2.0 - Apparently I didn't actually use it before, i was running an old copy

* Fixed services to expose the ports properly
* Auto create the db on init if possible

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

